target/
.git/
Cargo.lock
*.svg
*.png
hatk.log
temp.csv
results*
./examples/results/*
test_data/
svgs/
temp/
cargo-test-*
src-old/
1kGP*
over_20_repeats.ids
run_analyses_gsn.sh

.Python
__pycache__
*.egg
*.egg-info
eggs/
.eggs/
dist/
build/
lib/
lib64/
wheels/
*.manifest
*.pyc

.env
.venv
env/
venv/
ENV/
.DS_store


!/tests/results
